@{
    ViewData["Title"] = "Ex 4";
}


<h2>Exercício 4</h2>
<h4>Grave a lista do item 3, em um arquivo de nome data.json na pasta raiz da aplicação.</h4>
<hr />

<div class="alert alert-info">
    resultado: @TempData["Resultado"]
</div>
<a asp-action="Ex5" class="btn btn-secondary">Exercício 5</a>