@model List<clsTeste>
@{
    ViewData["Title"] = "Ex 5";
}


<h2>Exercício 5</h2>
<h4>Crie um Grid, leia o arquivo data.json que foi gravado, e mostre os dados no Grid criado.</h4>
<hr />



<div class="conteudo-exercicio">
    <button class="btn btn-success" style="margin: 2%" type="button" onclick="ExibirLista()">Exibir Lista</button>
    @if (Model != null)
    {
        <div id="areaTabela" class="d-flex justify-content-center d-none">

            <div style="margin: 2%; max-height: 210px; max-width:500px; overflow-y: auto;">
                <table class="table table-bordered table-dark">
                    <thead>
                    </thead>
                    <tbody class="table-group-divider">
                        @for (int i = 0; i < @Model.Count(); i++)
                        {
                            <tr>
                                <td>@Model[i].Codigo </td>
                                <td style="text-align:justify">@Model[i].Descricao </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

</div>

<hr />
<div class="conteudo">
    <a asp-action="" class="btn btn-secondary">Voltar</a>
    <a asp-action="Ex6" class="btn btn-secondary">Exercício 6</a>
</div>

@section scripts{
    <script>
        function ExibirLista() {
            document.getElementById("areaTabela").classList.remove("d-none");
        }

        
    </script>
}